.slider-item {
  display: none;
}

.sliderDots {
  display: flex;
  justify-content: center;
}

.sliderDots > div::after {
  /* content: "•"; */
  content: url("data:image/svg+xml; base64, PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKIHdpZHRoPSIxN3B4IiBoZWlnaHQ9IjE3cHgiIHZpZXdCb3g9IjAgMCAxMjgwLjAwMDAwMCAxMjgwLjAwMDAwMCIKIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwxMjgwLjAwMDAwMCkgc2NhbGUoMC4xMDAwMDAsLTAuMTAwMDAwKSIKZmlsbD0iIzAwMDAwMCIgc3Ryb2tlPSJub25lIj4KPHBhdGggZD0iTTYxMDAgMTI3OTQgYy0xMTQ0IC02MiAtMjE4NiAtMzkzIC0zMTMwIC05OTQgLTE2MjkgLTEwMzcgLTI3MTcKLTI3NzMgLTI5MjkgLTQ2NzUgLTMwIC0yNjcgLTM1IC0zNzUgLTM1IC03MjUgMCAtMzUwIDUgLTQ1OCAzNSAtNzI1IDExMSAtOTk5CjQ3MSAtMTk4MCAxMDM3IC0yODI1IDEwNTEgLTE1NjggMjc0MyAtMjYwMyA0NTk3IC0yODA5IDI2NyAtMzAgMzc1IC0zNSA3MjUKLTM1IDM1MCAwIDQ1OCA1IDcyNSAzNSA5NTEgMTA2IDE4ODUgNDM3IDI3MDUgOTU5IDE2MjkgMTAzNyAyNzE3IDI3NzMgMjkyOQo0Njc1IDMwIDI2NyAzNSAzNzUgMzUgNzI1IDAgMzUwIC01IDQ1OCAtMzUgNzI1IC0xMjMgMTEwNiAtNTU5IDIyMDUgLTEyMjcKMzA5NSAtMTA2NCAxNDE2IC0yNjA4IDIzMTMgLTQzNjIgMjUzNSAtMjQzIDMwIC04MzIgNTIgLTEwNzAgMzl6Ii8+CjwvZz4KPC9zdmc+Cg==");
  color: #000;
  font-size: 50px;
  opacity: 0.5;
  padding: 0 5px;
}

.sliderDots > div:hover::after {
  opacity: 1;
}

.sliderDots > div.active::after {
  content: url("data:image/svg+xml; base64, PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAxMjgwLjAwMDAwMCAxMjgwLjAwMDAwMCIKIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwxMjgwLjAwMDAwMCkgc2NhbGUoMC4xMDAwMDAsLTAuMTAwMDAwKSIKZmlsbD0iIzAwMDAwMCIgc3Ryb2tlPSJub25lIj4KPHBhdGggZD0iTTYxMDAgMTI3OTQgYy0xMTQ0IC02MiAtMjE4NiAtMzkzIC0zMTMwIC05OTQgLTE2MjkgLTEwMzcgLTI3MTcKLTI3NzMgLTI5MjkgLTQ2NzUgLTMwIC0yNjcgLTM1IC0zNzUgLTM1IC03MjUgMCAtMzUwIDUgLTQ1OCAzNSAtNzI1IDExMSAtOTk5CjQ3MSAtMTk4MCAxMDM3IC0yODI1IDEwNTEgLTE1NjggMjc0MyAtMjYwMyA0NTk3IC0yODA5IDI2NyAtMzAgMzc1IC0zNSA3MjUKLTM1IDM1MCAwIDQ1OCA1IDcyNSAzNSA5NTEgMTA2IDE4ODUgNDM3IDI3MDUgOTU5IDE2MjkgMTAzNyAyNzE3IDI3NzMgMjkyOQo0Njc1IDMwIDI2NyAzNSAzNzUgMzUgNzI1IDAgMzUwIC01IDQ1OCAtMzUgNzI1IC0xMjMgMTEwNiAtNTU5IDIyMDUgLTEyMjcKMzA5NSAtMTA2NCAxNDE2IC0yNjA4IDIzMTMgLTQzNjIgMjUzNSAtMjQzIDMwIC04MzIgNTIgLTEwNzAgMzl6Ii8+CjwvZz4KPC9zdmc+Cg==");
  opacity: 1;
}

.active {
  padding-top: 1px;
}
